<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu de Pong</title>
    <script type="text/javascript">
        window.env = {
            CONTRACT_ADDRESS: "{{ contract_adress }}",
            ALCHEMY_RPC: "{{ alchemy_rpc }}"
        };
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="../../../static/css/index.css">
</head>
<body>
    <div id="notification-popup" class="notification-popup"></div>
    <div id="profilePicture" class="profile-picture"></div>
    <div class="page-sidebar left">
        <ul class="left-navbar">
            <div class="_">
                <li>
                    <a href="/user" class="icon-user" id="userLink">
                        <img src="/static/images/user.png" alt="Icone User">
                    </a>
                </li>
                <li>
                    <a href="/friend" class="icon-friend" id="friendLink">
                        <img src="/static/images/Friend.png" alt="Icone Friend">
                    </a>
                </li>
                <li>
                    <a href="/tournament" class="icon-tournoi" id="tournamentLink">
                        <img src="/static/images/podium.png" alt="Icone Tournoi">
                    </a>
                </li>
                <li>
                    <a href="/historique" class="icon-historique" id="historiqueLink">
                        <img src="/static/images/historique.png" alt="Icone Historique">
                    </a>
                </li>
                <li>
                    <a href= "/settings" class="icon-parametre" id="settingsLink">
                        <img src="/static/images/parametre.png" alt="Icone Option">
                    </a>
                </li>
                <li>
                    <a href= "/liveChat" class="icon-liveChat" id="liveChatLink">
                        {% comment %} <img src="/static/images/parametre.png" alt="Icone Option"> {% endcomment %}
                        LC
                    </a>
                </li>
            </div>
        </ul>
        <div class="main-sidebar-left"></div>
        <button id="logoutButton" class="btn btn-danger logout-button">Déconnexion</button>
        <div id="userInfo" class="user-info"></div>
    </div>
    <form id="playForm" class="visible">
        {% csrf_token %}
        <fieldset>
            <div class="local-buttons">
                <input type="radio" name="game_mode" id="local_1v1" value="local_1v1" checked>
                <label for="local_1v1"><span class="gradient-text">Local 1v1</span></label>

                <input type="radio" name="game_mode" id="local_2v2" value="local_2v2">
                <label for="local_2v2"><span class="gradient-text">Local 2v2</span></label>
            </div>

            <div class="remote-buttons">
                <input type="radio" name="game_mode" id="remote_1v1" value="remote_1v1">
                <label for="remote_1v1"><span class="gradient-text">Distant 1v1</span></label>

                <input type="radio" name="game_mode" id="remote_2v2" value="remote_2v2">
                <label for="remote_2v2"><span class="gradient-text">Distant 2v2</span></label>
                
            </div>
            <br>
            <button type="submit" class="play-button"><span class="gradient-text">Jouer</span></button>
        </fieldset>
    </form>
    <div class="modal" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameModalLabel">Jeu de Pong</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <canvas id="gameCanvas" width="800" height="600"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <button class="auth-button" data-bs-toggle="modal" data-bs-target="#authModal"  href="/connexion">
        S'inscrire/Connexion
    </button> {% endcomment %}
    <button class="auth-button" href="/connexion" id="boutton-signup-login">
        S'inscrire/Connexion
    </button>
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalLabel">Authentification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="authTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Connexion</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab" aria-controls="signup" aria-selected="false">Inscription</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="auth42-tab" data-bs-toggle="tab" data-bs-target="#auth42" type="button" role="tab" aria-controls="auth42" aria-selected="false">Inscription/Connexion via 42</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="authTabsContent">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form id="loginForm" class="mt-3">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <p for="loginUsername" class="form-label">Nom d'utilisateur</p>
                                    <input type="text" class="form-control" id="loginUsername" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <p for="loginPassword" class="form-label">Mot de passe</p>
                                    <input type="password" class="form-control" id="loginPassword" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Se connecter</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                            <form id="signupForm" class="mt-3" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <p for="signupUsername" class="form-label">Nom d'utilisateur</p>
                                    <input type="text" class="form-control" id="signupUsername" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <p for="signupAlias" class="form-label">Alias</p>
                                    <input type="text" class="form-control" id="signupAlias" name="alias" required>
                                </div>
                                <div class="mb-3">
                                    <p for="signupEmail" class="form-label">Email</p>
                                    <input type="email" class="form-control" id="signupEmail" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <p for="signupPassword" class="form-label">Mot de passe</p>
                                    <input type="password" class="form-control" id="signupPassword" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <p for="profilePhoto" class="form-label">Photo de profil</p>
                                    <input type="file" class="form-control" id="profilePhoto" name="photoProfile" accept="image/*" title="Choisir un fichier">
                                </div>
                                <button type="submit" class="btn btn-success">S'inscrire</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="auth42" role="tabpanel" aria-labelledby="auth42-tab">
                            <div class="mt-3">
                                <p>Connectez-vous avec votre compte 42 en cliquant sur le bouton ci-dessous :</p>
                                <button id="auth42Button">42</button>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="friendModal" tabindex="-1" aria-labelledby="friendModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="friendModalLabel">Gestion des amis</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="friendModalBody">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="friendProfileModal" tabindex="-1" aria-labelledby="friendProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="friendProfileModalLabel">Profil de l'ami</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="friendProfileContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tournamentModal" tabindex="-1" aria-labelledby="tournamentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tournamentModalLabel">Créer un tournoi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="tournamentForm">
                        <div class="mb-3">
                            <p for="playerCount" class="form-label">Nombre de joueurs</p>
                            <select class="form-select" id="playerCount" required>
                                <option value="4">4</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                        <div id="aliasInputs">
                        </div>
                        <button type="submit" class="btn btn-primary">Créer le tournoi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="historiqueModal" tabindex="-1" aria-labelledby="historiqueModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="historiqueModalLabel">Historique des parties</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="historiqueForm">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="settingsModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="settingsForm">
                        <div class="mb-3">
                            <p class="form-label">Username</p>
                            <input type="text" class="form-control" id="settingsUsername" name="username">
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Email</p>
                            <input type="email" class="form-control" id="settingsEmail" name="email">
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Alias</p>
                            <input type="text" class="form-control" id="settingsAlias" name="alias">
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Profile Photo</p>
                            <input type="file"
                                   class="form-control"
                                   id="settingsPhoto"
                                   name="photoProfile"
                                   accept="image/*"
                                   title="Choisir un fichier">
                            <img id="photoPreview" class="mt-2" style="max-width: 200px; display: none;">
                        </div>
                        <div class="mb-3">
                            <p class="form-label">New Password</p>
                            <input type="password" class="form-control" id="settingsNewPassword" name="password">
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Confirm New Password</p>
                            <input type="password" class="form-control" id="settingsConfirmPassword">
                        </div>

                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                    <!-- Ajoute par clement  -->
                    <div id="errorMessage" style="display: none;">
                        <div class="auth-message">
                            <i class="fas fa-lock"></i>
                            <p>Aucune information utilisateur disponible</p>
                        </div>;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="userForm">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nextGameModal" tabindex="-1" aria-labelledby="nextGameModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nextGameModalLabel">Prochaine partie</h5>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-primary" id="startNextGameButton">Jouer</button>
                </div>
                <div class="modal-body">
                    <form id="nextGameForm">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% comment %} /!\ a verifier si on peut pas l'enlever {% endcomment %}
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: #ad996d" id="notificationModalMessage">
                    Tentative de stockage du score du tournoi. Cela peut prendre quelques instants...
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="liveChatModal" tabindex="-1" aria-labelledby="liveChatLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="liveChatLabel">Live-Chat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<div id="liste-amis-live-chat">
						<!-- Champ de recherche -->
						<input type="text" id="searchInput" placeholder="Rechercher un utilisateur">

						<!-- Conteneur pour afficher les résultats -->
						<div id="userListContainer"></div>
						<ul id="liste-amis-live-chat-ul"></ul>

					</div>
					<div id="conversation-live-chat">
						<div id="en-tete-conversation-live-chat"></div>
						<div id="message-container"></div>
						<div id="envoie-ou-message-bloque"></div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.6.9/dist/ethers.umd.min.js"></script>
    <script src="/static/js/csrf_utils.js"></script>
    <script src="/static/js/erreurs.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/friends.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/tournament.js"></script>
    <script src="/static/js/historique.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/liveChat.js"></script>
    <script src="/static/js/user.js"></script>

    <script src="../../../static/js/csrf_utils.js"></script>
    <script src="../../../static/js/erreurs.js"></script>
    <script src="../../../static/js/auth.js"></script>
    <script src="../../../static/js/friends.js"></script>
    <script src="../../../static/js/main.js"></script>
    <script src="../../../static/js/tournament.js"></script>
    <script src="../../../static/js/historique.js"></script>
    <script src="../../../static/js/settings.js"></script>
    <script src="../../../static/js/liveChat.js"></script>
    <script src="../../../static/js/user.js"></script>
</body>
</html>
