body {
	display: flex;
	flex-direction: column;
}

/* Appliquer overflow: hidden à l'ensemble de la page */
html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #ef6930;
}

.btn {
	color: #1c4521 !important;
	background-color: #fceada !important;
}

.btn:hover {
	color: #fceada !important;
	background-color: #1c4521 !important;
}

/* Style de l'header */
header {
	/*background-image: url('../images/wallpaper.png');*/
	border-bottom: none !important;
	display: flex;
	justify-content: center;  /* Centre horizontalement */
	align-items: center;  /* Centre verticalement */
}

/* Style des liens de navigation */
.nav-link {
	color: #1c4521 !important;
	background-color: #fceada !important;
	margin: 0rem 1rem;
}

/* Style au survol des liens de navigation */
.nav-link:hover {
	color: #fceada !important;
	background-color: #1c4521 !important;
}

/* Style des cartes (card) avec la classe .border-primary */
.card.mb-4.rounded-3.shadow-sm.border-primary {
	background-image: url('../images/wallpaper.png');
}

/* Style de la carte body */
.card-body {
	background-color: #ef6930;
	margin: 1rem;
	border-radius: 1rem;
}

/* Style de la carte (appliqué à toutes les cartes) */
.card {
	background-image: url('../images/wallpaper.png');
	border: 2px solid #ef6930 !important;
	border-radius: 10px;
}

/* Style de la carte au survol */
.card:hover {
	border-radius: 10px;
	box-shadow: 5px 5px 15px #f8cdaa;
}

/* Centrer le contenu à l'intérieur de la page */
.container {
	height: 100vh; /* Prend toute la hauteur de la fenêtre */
	display: flex; /* Utilisation de Flexbox pour centrer les éléments */
	justify-content: center; /* Centrer horizontalement */
	align-items: center; /* Centrer verticalement */
	gap: 2rem; /* Espace entre les cartes (augmenter l'espace ici) */
	padding: 1rem; /* Espace autour du contenu (si tu veux éviter que les cartes touchent les bords de la fenêtre) */
}

.modal {
	min-width: 1000px;
}

.modal-header {
	background-image: url(../images/fond_header_modale.png);
}

.modal-body {
	background-color: #f7bfaa;
}

#authModal .nav-link {
	margin: 0rem 0.5rem;
}

.modal .navlink {
	margin: 0rem 0.5rem;
}

header, #barre-bas1 {
	background-image: url('../images/barreHautBas.png');
	height: 12rem !important; /* Hauteur de la barre */
	width: 100%; /* Largeur totale */
}

#barre-haut2, #barre-bas2 {
	background-color: #908a35; /* Couleur 2 */
	height: 12rem; /* Hauteur de la barre */
	width: 100%;
}

#centre-contour3 {
	background-color: #fceada; /* Couleur 3 */
	width: 100%;
	flex-grow: 1; /* Permet à la section centrale de s'étendre */
}

#profilePicture {
	margin-left: 1rem;
}

#profilePicture {
	width: 3rem;
	height: 3rem;
}

.custom-list-group-item {
	list-style-type: none;
}

#followingList, #followersList {
	padding-left: 0;
}

.custom-list-group-item .btn, .tab-content .btn {
	color: #1c4521 !important;
	background-color: #fceada !important;
	outline-color: #fceada !important;
}

.custom-list-group-item .btn:hover, .tab-content .btn:hover {
	color: #fceada !important;
	background-color: #1c4521 !important;
	outline-color: #1c4521 !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.barre-choix {
    color: #1c4521 !important;
    background-color: #fceada !important;
    outline: 2px solid #1c4521 !important; /* Ajout d'un outline */
}

.barre-choix:hover {
    color: #fceada !important;
    background-color: #1c4521 !important;
}

#auth42-tab {
	border-radius: 0 !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

#signup-tab {
	border-radius: 0 !important;
	border-top-right-radius: 10px !important;
}

#login-tab {
	border-radius: 0 !important;
	border-top-left-radius: 10px !important;
}

#add-friend-tab, #profile-edit-tab {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 10px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 10px !important;
}

#friend-list-tab, #profile-view-tab {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 0px !important;
}

.custom-tabs-container ul {
	margin: 0px 15px 5px 0px !important;
}

#followingList, #followersList {
	max-height: 200px; /* Taille maximale de la div */
    overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse */
    padding: 10px; /* Espacement intérieur */
}





#message-container {
    color: white;
    height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 5px;
}

#searchInput, #userListContainer {
    width: 90%; /* Même largeur */
    display: block; /* Pour prendre toute la ligne */
    margin: 0 auto; /* Centre horizontalement */
    border-radius: 5px;
}

#userListContainer {
    position: absolute; /* Position absolue pour s'afficher par-dessus */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajustement pour être bien centré */
    max-height: 200px; /* Ajustable selon le besoin */
    overflow-y: auto;
    z-index: 3000; /* S'assurer qu'il est au-dessus */
    background: white; /* Ajouter un fond pour éviter qu'il soit transparent */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour plus de visibilité */
}

#searchInput {
    width: 90%; /* Presque toute la largeur de la modale */
    display: block; /* S'assurer qu'il prend bien toute la ligne */
    margin: 0px auto; /* Centrer horizontalement */
    border-radius: 5px;
}

#liste-amis-live-chat {
    position: relative; /* Nécessaire pour que #userListContainer soit positionné correctement */
}

#liste-amis-live-chat-ul {
    height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre les éléments verticalement */
    width: 100%;
    margin: 0;
}

.nomListeConversation {
    width: 200px; /* Ajuste cette valeur selon tes préférences */
    height: 40px; /* Définit une hauteur fixe */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
	color: #1c4521 !important;
    background-color: #fceada !important;
	margin: 5px;
}

.nomListeConversation:hover {
	color: #fceada !important;
    background-color: #1c4521 !important;
}

#nom-contact-live-chat {
    color: white;
}

#liveChat-onlineStatus {
    color: green;
}

#liveChat-offlineStatus {
    color: red;
}

#en-tete-conversation-live-chat {
    display: flex;
    justify-content: space-between; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; /* Assure que le texte est bien centré */
    width: 100%; /* Prend toute la largeur disponible */
    height: 100%; /* S'assure qu'il prend toute la hauteur s'il est dans un conteneur défini */
}


#chatFooter {
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Alignement vertical */
    justify-content: space-between; /* Espacement des éléments */
    width: 100%; /* Prend toute la largeur de la modale */
    padding: 10px; /* Ajoute un peu d'espace autour */
    gap: 10px; /* Espacement entre les éléments */
}

#messageInput {
    flex: 1; /* Prend le plus d'espace possible */
    padding: 8px; /* Ajoute un padding pour le confort */
    border: 1px solid #ccc; /* Bordure discrète */
    border-radius: 5px; /* Coins arrondis */
}

.bouton-liveChat {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    padding: 8px 12px; /* Ajoute du padding */
    border: none;
    color: #1c4521 !important;
    background-color: #fceada !important;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    flex-shrink: 0; /* Empêche les boutons de rétrécir */
}

.bouton-liveChat:hover {
    color: #fceada !important;
    background-color: #1c4521 !important; /* Légère variation au survol */
}

.message-expediteur {
    margin-left: auto; /* Aligne à droite */
    margin-right: 10px; /* Ajoute un espace avec le bord droit */
    background-color: #908a35;
    margin-bottom: 0.5cm;
    padding: 10px 15px; /* Ajoute de l'espace à l'intérieur */
    border-radius: 10px; /* Coins arrondis */
    color: white;
    word-wrap: break-word; /* Coupe les mots trop longs */
    max-width: 60%; /* Largeur maximale */
    text-align: left; /* Texte aligné à gauche à l'intérieur */
}

.message-destinataire {
    margin-right: auto; /* Aligne à gauche */
    margin-left: 10px; /* Ajoute un espace avec le bord gauche */
    background-color: #ef6930 ;
    margin-bottom: 0.5cm;
    padding: 10px 15px; /* Ajoute de l'espace à l'intérieur */
    border-radius: 10px; /* Coins arrondis */
    color: white;
    word-wrap: break-word; /* Coupe les mots trop longs */
    max-width: 60%; /* Largeur maximale */
    text-align: left; /* Texte aligné à gauche à l'intérieur */
}

#choix-conversation {
	color: #1c4521 !important;
    background-color: #fceada !important;
    margin: 0px;
	z-index: 2000;
}

#choix-conversation:hover {
	color: #fceada !important;
    background-color: #1c4521 !important;
}

.message-invitation-jeu {
    background-color: #ffaf00;
    color: #1c4521;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0.5cm;
    padding: 10px 15px; /* Ajoute de l'espace à l'intérieur */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
}

.bouton-liveChat {
    width: auto; /* Largeur adaptée au contenu */
    height: auto; /* Hauteur adaptée au contenu */
    padding: 5px 10px; /* Espacement interne pour ajuster l'intérieur */
    font-size: 16px; /* Taille du texte */
    text-align: center; /* Centrer le texte */
    display: inline-block; /* Pour que la taille s'ajuste au contenu */
    white-space: nowrap; /* Empêche le texte de se casser */
}

#liveChatModal {
    z-index: 1100;
}

.notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #1c4521;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Caché par défaut */
    z-index: 1150; /* Ajustez ce chiffre */
}

.notification-popup.show {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

#imgRetourliveChat {
    width: 35px;
    height: 35px;
    transition: opacity 0.3s ease-in-out;
}

#imgRetourliveChat:hover {
    content: url("../images/icons8-arrière-52-vert.png"); /* Remplace l'image */
}

.img-button {
    width: 35px;
    height: 35px;
    background-color: #fceada !important;
    border: none;
    padding: 0;
    cursor: pointer; /* Affiche la main au survol */
    display: flex; /* Garde le contenu centré */
    align-items: center;
    justify-content: center;
}

.img-button:hover {
    background-color: #1c4521 !important;
}

.img-button img {
    width: 30px;
    height: 30px;
}

.img-button:hover img {
    content: url("../images/icons8-arrière-52-beige.png"); /* Change l'image au survol */
}

#friendProfileModal {
    z-index: 1150;
}

#gameModal .modal-dialog {
    max-width: 830px; /* Largeur */
    height: 750px; /* Hauteur */
}

.main-content {
    list-style-type: none;
}

#userUsername {
    margin: 1rem;
}